{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'storelivecode/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'storelivecode/css/bootstrap.min.css' %}">
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-2 alpha-tech">
                    Toko Online
                </div>
                <div class="col-md-10 align-items-left">
                    <div class="home-header-nav">
                        {% block nav-header %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>