{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block nav-header %}
<ul class="list-unstyled home-header-nav__list">
    <li class="list_about">Home</li>
    <li><a href="{% url 'input_barang' %}">Input Barang</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row align-items-center items">
        {% for barang in barangs %}
        <div class="col-md-4 ">
            <div class="listbarang">
                <img src="{{barang.picture}}" alt="">
                <h5>{{barang.nama}}</h5>
                <p>{{barang.harga}}</p>
                <a href="{% url 'deskripsi' barang.id %}">Lihat Details</a>
            </div>   
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


